# .env.example
GEMINI_API_KEY=
MY_NEW_VAR=
ANOTHER_SECRET=

# Supabase Configuration
VITE_SUPABASE_URL=https://tjmacxansodaebpqfinb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbWFjeGFuc29kYWVicHFmaW5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1OTE0NjcsImV4cCI6MjA4ODE2NzQ2N30.IlP_4zt7KwQsnK2noQ6DnsTHbWeV6lIiE3Q9BX5foEE

# Database connection strings for Prisma
DATABASE_URL="postgresql://postgres.ecovirygrjrvbwpcjeqa:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.ecovirygrjrvbwpcjeqa:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:5432/postgres"
